{% extends "base.twig" %}
{% block header %}
    <div class="wrapper">
        <div class='header--image' style='background-image: url({{post.thumbnail.src}})'>
            <h1 class="header-logo" role="banner">
                <a class="header-logo-link" href="{{site.url }}" rel="home">{{site.name}}</a>
            </h1>
        </div>
        {# <nav id="nav-main" class="nav-main" role="navigation">
            {% include "menu.twig" with {
                'menu' : menu.get_items
            } %}
        </nav> #}
        <!-- #nav -->
    </div>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <section class="gallery">
              {% for item in products %}
                <a class="gallery--item" href='{{item.link}}'>
                  <img class="gallery--image" src="{{item.thumbnail.src('medium_large')}}">
                </a>
              {% endfor %}
            </section>
        </article>
    </div>
    <!-- /content-wrapper -->
{% endblock %}